/* Footer.css */
.footer-container {
    /* background-color: #f8f9fa; */
    padding: 20px;
    text-align: center;
  }
  
  .social-icons img {
    width: 30px;
    margin: 0 5px;
  }
  
  .links-list {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
  }
  
  .links-list li {
    display: inline;
    margin: 0 10px;
  }
  
  #copyright {
    margin-top: 20px;
    color: #6c757d;
    font-size: 14px;
  }
  