.header{
    display:flex;
    align-items: center;
    padding: 20px;
    height:auto;
    
}

#list{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 30px;
    
    
}

#list li{
    margin: 0 18px;
    color: black;
}

